body {
    background-color: azure;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

#headd {
    background-image: url('nikemain.jpg');
    color: whitesmoke;
    text-align: center;
    height: 40vh;
    ;
}

.like {
    font-size: 1.5rem;
}

.gucci {
    padding: 0.5em;
    height: 180px;
    color: white;
    background-color: #26354A;
}